@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 340px;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 15px;
}

main .sr-only {
    position: absolute; 
    top: auto; 
    height: 1px; 
    width: 1px; 
    overflow: hidden;
}


main .background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/image-equilibrium.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

main .view-icon {
    opacity: 0;
    padding: 126px;
    background-color: hsla(178, 100%, 50%, .50);
    border-radius: 10px;
    border: none;
}

main .view-icon:hover {
    opacity: 1;
    cursor: pointer;
}

section .card-title {
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
    font-weight: 600;
    margin: 20px 0;
}

section .card-title:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

section .card-text {
    color: hsl(215, 51%, 70%);
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
}

section div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section div .ethereum {
    display: flex;
    align-items: center;
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

section div .clock {
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

section img {
    margin-right: 7px;
}

section .creator {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid hsl(215, 51%, 70%);
}

section .creator img {
    height: 40px;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 20px;
}

section .creator-name:hover {

    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

section .creator .lightBlue {
    color: hsl(215, 51%, 70%);
    white-space:pre;
}

footer { font-size: 11px; text-align: center; margin-top: 20px; }
footer a { color: hsl(228, 45%, 44%); }